/* Sizes */
$max-width:1680px;

/****AJUSTES GENERALES****/

body {
	font-size: 62.5%;
}

html,
body,
ul,
ol,
a,
div,
section,
article {
	margin: 0;
	padding: 0;
	img {
		border: none;
		display: block;
	}
}

section {
	width: 100%;
	float: left;
	clear: left;
	h1 {
		font-size: $h1-fsize;
	}
	h2 {
		font-size: $h2-fsize;
	}
	h3 {
		font-size: $h3-fsize;
	}
	article {
		h1 {
			font-size: $h1-article-fsize;
		}
	}
}

.wrapper {

	max-width: $max-width;
	margin: 0 auto;
	width: 96%;
	overflow: hidden;
	position: relative;
	z-index: 2;
	
} 

/****MENU NAVEGACION****/

nav {

	position: fixed;
	top: 30px;
	right: 30px;
	z-index: 3;
}

/****PORTADA****/

.avatar{
	
	position: absolute;
	z-index: 2;
	top: 5%;
	right: 8%;
}

.clouds {
	width: 100%;
	top: 0;
	left: 0;
	img {
		position: absolute;
		z-index: 0;
	}
}

.cloud1 {
	top: 5%;
	left: 2%;
}

.cloud2 {

	top: 13%;
	right: 11%;
}

.cloud3 {

	top: 42%;
	left: 13%;
}


.cloud4 {

	top: 42%;
	right: 0;
}

.cloud5 {

	top: 49%;
	right: 21%;
}

.cloud6 {

	bottom: 9%;
	left: 0;
}


.cloud7 {

	bottom: 5%;
	right: 5%;
}

/****SOBRE MI - ILUSTRACIONES****/

.cloud1-b {
	top: 1%;
	left: 55%;
}

.cloud2-b {

	top: 15%;
	left: 4%;
}

.cloud3-b {

	top: 30%;
	right: 0%;
}


.cloud4-b {

	top: 47%;
	left: 15%;
}

.cloud5-b {

	top: 55%;
	right: 12%;
}


.molino {

	position: absolute;
	z-index: 0;
	bottom: 1%;
	left: 0%;
}

.cow {

	position: absolute;
	z-index: 0;
	bottom: 1%;
	right: 0;

}

/****SERVICIOS ILUSTRACIONES****/

.cloud1-c {
	top: 3%;
	left: 15%;
}

.cloud2-c {

	top: 10%;
	right: 20%;
}

.cloud3-c {

	top: 42%;
	left: 0%;
}


.cloud4-c {

	bottom: 12%;
	right: 0%;
}

.cloud5-c {

	bottom: 4%;
	right: 44%;
}

/****PROJECTOS ILUSTRACIONES****/

.jellyfish {
	width: 100%;
	top: 0;
	left: 0;
	img {
		position: absolute;
		z-index: 0;
	}

}

.jelly1 {
	top: 4%;
	left: 1%;
}

.jelly2 {
	top: 10%;
	right: 0%;
}

.jelly3 {

	top: 60%;
	left: 27%;
}

.jelly4 {
	top: 10%;
	left: 15%;
}

.jelly5 {
	top: 10%;
	left: 15%;
}

.jelly6 {
	top: 10%;
	left: 15%;
}

.jelly7 {
	top: 10%;
	left: 15%;
}

.jelly8 {
	top: 10%;
	left: 15%;
}
