$project-border-width: 6px;
$project-min-width: 220px;
$project-min-height: 158px;
$project-max-width: 350px;
$project-max-height: 251px;

.projects {
    .projects-list {
        ul {
            li {
                position: relative;

                article {
                    position: relative;
                }

                img {
                    width: 100%;
                    min-width: $project-min-width;
                    min-height: $project-min-height;
                    max-width: $project-max-width;
                    max-height: $project-max-height;
                }

                .overlay {
                    background-color: #358e90;
                    z-index: 1;
                    width: 100%;
                    height: 100%;
                    opacity: .8;
                    top: 0;
                    left: 0;
                    position: absolute;
                    display: none;
                }

                .project-review {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 1;
                    min-width: $project-min-width;
                    min-height: $project-min-height;
                    max-width: $project-max-width;
                    max-height: $project-max-height;
                    display: none;

                    h1 {
                        font-size: 3.2em;
                        color: $pink-color;
                        text-align: center;
                        font-weight: bold;
                        border-bottom: 4px dotted #fff;
                        width: 85%;
                        display: block;
                        margin: 7% auto;
                        padding: 0 0 5% 0;
                    }

                    button {
                        width: 90px;
                        margin: 0 auto;
                        display: block;
                        border-radius: 90px;
                        border: none;
                        color: #1f6565;
                        padding: 10px 5px;
                        font-size: 1.8em;
                        font-family: 'Josefin Sans', 'Sans serif';
                        background-color: $pink-color;
                        cursor: pointer;
                        font-weight: 800;

                        &:hover {
                            color: #1f6565;
                            background-color: #add9d9;
                        }
                    }
                }

                &.selected .project-review,
                &.selected .overlay {
                    display: block;
                }

            }
        }

        .project-detail {
            display: none;
            position: absolute;
            z-index: 1000;
            background-image: linear-gradient(314deg, #338c8f, #6BB3B5);
            border-radius: 8px;
            padding: 15px;
            box-sizing: border-box;
            max-width: 1200px;

            a.close {
                float: right;
            }

            .main {
                width: 45%;
                float: left;

                img {
                    width: 100%;
                }
            }

            .gallery {
                width: 52%;
                float: right;
                clear: right;
                margin-left: 20px;

                img {
                    width: 20%;;
                    float: left;
                    cursor: pointer;
                    margin-right: 33px;

                    &.last {
                        margin-right: 0;
                    }
                }
            }

            .project-content {
                width: 52%;
                float: right;
                min-height: 521px;
            }

            .title,
            .description {
                color: #f9d1c9;
            }

            .title {
                font-size: 3.2em;
                font-weight: bold;
                margin-top: .5em;
                margin-bottom: .5em;
                font-family: "FontTitles";
            }

            .description {
                width: 90%;

                p {
                    font-size: 2.2em;

                    &.categories {
                        margin: .3em 0;
                        font-size: 1.8em;
                        margin-bottom: 2em;
                    }

                    span {
                        border-radius: 50px;
                        background-color: #6fbcbe;
                        padding: 8px 12px;
                        margin-right: 15px;
                    }
                }

                a {
                    color: #f9d1c9;
                }
            }
        }
    }
}
