@import 'partials/colors';
@import 'partials/fonts';
@import 'partials/layout';

/****DECLARACIONES GENERALES****/

section {
	min-height: 580px;
	position: relative;
}

h1{
	font-size: $h1-article-fsize;
	font-family: "FontTitles";
	margin: 30px 350px 0;
	padding-bottom: 30px;
	text-align: left;
	z-index: 1;

}

p {
	font-size: $p-fsize;
	line-height: 1.4em;
	font-weight: 300;
}

/****INTRODUCCIÓN****/


.intro {

	background-color: $red-color;
	 height: 100vh;

	 .text-intro {
       height: 100vh;
       margin-top: 8vh;
   	}

	h1{

		width: 500px;
		margin: 30px auto 0;
		padding-bottom: 30px;
		line-height: 1.4em;
		font-size: 8em;
		border-bottom: dotted 2px #fceca9;
		text-align: center;
		color: $yellow-color;
		z-index: 1;

	}

	h2 {

		width: 600px;
		margin: 30px auto 0;
		line-height: 1.2em;
		font-size: 6em;
		font-family: "FontTitles";
		text-align: center;
		color: $yellow-color;
		z-index: 1;
	}

	h3 {
		width: 100px;
		font-size: 2em;
		color: $yellow-color;
		z-index: 1;
		text-align: center;
		margin: 20px auto 0;
		font-weight: 300;
	}
}

/****SOBRE MI****/

.about-me {
	background-color: $yellow-color;
	height: 800px;

	h1{

		max-width: 650px;
       width: 100%;
       margin: 100px auto 0;
		color: $red-color;
       text-align: left;

	}

	p {
		max-width: 650px;
       width: 100%;
		color: $red-color;
		z-index: 1;
		text-align: justify;
		margin: 0 auto;
       display: block;
	}

	button {
		font-family: 'FontTitles';
		font-size: $h3-fsize;
		color: $red-color;
		width: 293.8px;
        height: 55.1px;
        border-radius: 100px;
        background-color: $yellow-color;
        border: solid 2px $red-color;
        position: absolute;
        right: 40%;
        bottom: 15%;

        &:hover {
          background-color: $red-color;
         color: $yellow-color;
         cursor: pointer;
        }
	}

}

/****SERVICIOS****/



.services {
	z-index: 1;
	background-color: $pink-color;

	.clouds {
		position: absolute;
		min-height: 580px;
	}

	.wrapper {
		min-height: 580px;
		color: $dark-pink-color;
	}
	article {
		width: 22%;
		float: left;
		margin-right: 3%;
		text-align: center;
		vertical-align: center;
		margin-top: 2%;


		img {
			margin-left: 25%;
		}
	}


		h1{
			text-align: center;
			margin-top: 100px;
		}

	h2{

		font-family: 'FontTitles', sans-serif;

	}

}

.sea {
	background-color: $light-blue-color;
	min-height: 400px;
	position: relative;
	img {
		position: absolute;
	}
	.faro {
		top: -30%;
		left: 22%;
	}
	.llaut {
		right: 14%;
		top: 27%;
	}
	.roca-delante {
		right: 0;
		bottom: -8%

	}
	.roca-fondo {
		top: -9%;
		left: 0;
	}
}

/****GALERIA PROYECTOS****/

.projects {
	z-index: 0;
	background-color: $dark-blue-color;

	.jellyfish {
		position: absolute;
		width: 100%;
		min-height: 580px;
		top: 0;
		left: 0;
	}

	.wrapper {
		min-height: 580px;


	}

	h1{
		text-align: center;
		color: $pink-color;
		margin-top: 100px;
	}

	ul.menu-projects {

		max-width: 1240px;
		width: 100%;
		margin: 20px auto;
		padding: 0;
        overflow: hidden;

        li {
            width: 16.5%;
            margin: 0;
            padding: 0;
            display: inline-block;
            float: left;
            text-align: center;

            a {
                border-radius: 100px;
                padding: 10px 0;
                width: 155px;
                display: block;
                background-color: $dark-blue-color;
                border: solid 2px $pink-color;
                color: $pink-color;
                font-size: $p-fsize;
                text-decoration: none;
                margin: 0 auto;

                &:hover {
                    background-color: #f9d1c9;
                    color: #6fbcbe;
                }
            }
        }
	}

	.projects-list {
		padding-bottom: 100px;
		max-width: 1200px;
        width: 100%;
		overflow: hidden;
        margin: 40px auto;

        ul {
            width: 100%;

            li {
                width: 33%;
                display: block;
                float: left;
                margin-bottom: 50px;

                @each $num in (2,5,8,11,14,17,20,23) {
                    &:nth-child(#{$num}) a {
                        margin: 0 auto;
                    }
                }

                &:nth-child(3n) a {
                    float: right;
                }

                a {
                    width: 100%;
                    display: block;
                    border: 6px solid $light-blue-color;
                    -webkit-border-radius: 8px;
                    -moz-border-radius: 8px;
                    border-radius: 8px;
                    min-width: 300px;
                    min-height: 215px;
                    max-width: 350px;
                    max-height: 251px;
                }
            }
        }
	}
}

/****CONTACTO****/

.contact {
	background-color: $light-blue-color;

    .wrapper {
        min-height: 580px;
    }

	h1 {
		color: $yellow-color;
		text-align: center;
        margin-top: 100px;
	}

	form {
		width: 470px;
		margin: auto;


	}

	input, textarea {
		width: 470px;
 		height: 50px;
  		border-radius: 8px;
  		background-color: #6fbcbe;
  		border: none;
  		color: $yellow-color;
  		font-size: $p-fsize;
  		margin-top: 40px;
	}

	button {
		width: 131px;
  		height: 50px;
  		border-radius: 95px;
  		background-color: #fceca9;
  		border: none;
  		color: $dark-blue-color;
  		font-size: $p-fsize;
  		font-weight: 600;
  		margin-top: 50px;
	}

    .final {
        position: relative;
        .prova {
            width: 100%;
        }
    }
}


