@import 'partials/colors';
@import 'partials/fonts';
@import 'partials/layout';
@import 'partials/projects';

/****DECLARACIONES GENERALES****/

section {
	min-height: 580px;
	position: relative;
}

h1{
	font-size: $h1-article-fsize;
	font-family: "FontTitles";
	margin: 30px auto;
	padding-bottom: 30px;
	text-align: center;
	z-index: 1;

}


p {
	font-size: $p-fsize;
	line-height: 1.4em;
	font-weight: 400;
}


/****INTRODUCCIÓN****/

.intro {

	background-color: $red-color;
	 height: 100vh;

	 .text-intro {
       height: 100vh;
       margin-top: 16vh;

       img{
       	position: absolute;
       	left: 32.5%,
       }

        .linea {
            width: 500px;
            margin: 0 auto;
            display: block;
            height: 4px;
            background: url("../img/portfolio-mariona-mercadal-linea.png") repeat-x 0 0;
        }

        a {
            display: block;
            width: 18px;
            margin: 20px auto;

            img.arrows {
                position: inherit;
            }
   	    }
   	}


	h1{

		width: 500px;
		margin: 30px auto 0;
		padding-bottom: 15px;
		line-height: 1.4em;
		font-size: 8.3em;
		/*border-bottom: dotted 2px #fceca9;*/
		text-align: center;
		color: $yellow-color;
		z-index: 1;

	}

	h2 {

		width: 600px;
		margin: 30px auto 0;
		line-height: 1.2em;
		font-size: 6em;
		font-family: "FontTitles";
		text-align: center;
		color: $yellow-color;
		z-index: 1;
	}

	h3 {
		font-size: 2em;
		color: $yellow-color;
		z-index: 1;
		text-align: center;
        margin: 50px auto 0;
		font-weight: 600;
	}
}

/****SOBRE MI****/

.about-me {
	background-color: $yellow-color;
	height: 1000px;
	/*min-height: 400px;*/
	position: relative;

	img{

		position: absolute;
	}

	h1 {
        max-width: 600px;
        width: 100%;
        margin-top: 100px;
        color: $red-color;
        text-align: left;
	}

	p {
		max-width: 600px;
       	width: 100%;
		color: $red-color;
		z-index: 1;
		text-align: justify;
		margin: 0 auto;
       display: block;
	}

	button {
		font-family: 'FontTitles';
		font-size: $h3-fsize;
		color: $red-color;
		width: 294px;
        height: 55px;
        border-radius: 100px;
        background-color: $yellow-color;
        border: solid 2px $red-color;
        margin: 70px auto 0;
        display: block;

        &:hover {
          background-color: $red-color;
         color: $yellow-color;
         cursor: pointer;
        }
	}

}

/****SERVICIOS****/



.services {
	z-index: 1;
	background-color: $pink-color;

	.clouds {
		position: absolute;
		min-height: 735px;
	}

	.wrapper {
		min-height: 735px;
		color: $dark-pink-color;
	}
	article {
		width: 22%;
		float: left;
		margin-right: 3%;
		text-align: center;
		margin-top: 2%;


		img {
			display: block;
            margin: 0 auto;
            width: 40%;
		}
	}


		h1{
			text-align: center;
			margin-top: 150px;
		}

	h2{

		font-family: 'FontTitles', sans-serif;

	}

}

.sea {
	background-color: $light-blue-color;
	min-height: 400px;
	position: relative;
	img {
		position: absolute;
	}
	.faro {
		top: -30%;
		left: 27%;
	}
	.llaut {
		right: 14%;
		top: 27%;
	}
	.roca-delante {
		right: 0;
		bottom: -8%

	}
	.roca-fondo {
		top: -9%;
		left: 0;
	}
}

/****GALERIA PROYECTOS****/

.projects {
	z-index: 0;
	background-color: $dark-blue-color;

	.jellyfish {
		position: absolute;
		width: 100%;
		min-height: 580px;
		top: 0;
		left: 0;
	}

	.wrapper {
		min-height: 580px;


	}

	h1{
		text-align: center;
		color: $pink-color;
		margin-top: 100px;
	}

	ul.menu-projects {

		max-width: 1250px;
		width: 100%;
		margin: 20px auto;
		padding: 0;
        overflow: hidden;

        li {
            width: 16.5%;
            margin: 0;
            padding: 0;
            display: inline-block;
            float: left;
            text-align: center;

            a {
                border-radius: 100px;
                padding: 10px 0;
                width: 155px;
                display: block;
                background-color: $dark-blue-color;
                border: solid 2px $pink-color;
                color: $pink-color;
                font-size: $p-fsize;
                font-weight: bold;
                text-decoration: none;
                margin: 0 auto;

                &:hover {
                    background-color: #f9d1c9;
                    color: #6fbcbe;
                }
            }
        }
	}

	.projects-list {
		padding-bottom: 100px;
		max-width: 1200px;
        width: 100%;
		overflow: hidden;
        margin: 40px auto;

        ul {
            width: 100%;

            li {
                width: 33.3%;
                display: block;
                float: left;
                margin-bottom: 50px;

                @each $num in (2,5,8,11,14,17,20,23) {
                    &:nth-child(#{$num}) article {
                        margin: 0 auto;
                    }
                }

                &:nth-child(3n) article {
                    float: right;
                }

				article {
                   width: 90%;
                   display: block;
                   border: $project-border-width solid $light-blue-color;
                   -webkit-border-radius: 8px;
                   -moz-border-radius: 8px;
                   border-radius: 8px;
                   min-width: $project-min-width;
                   min-height: $project-min-height;
                   max-width: $project-max-width;
                   max-height: $project-max-height;
           		}
            }
        }
	}
}

/****CONTACTO****/

.contact {
	background: $light-blue-color url(../img/portfolio-mariona-mercadal-footer.png) no-repeat center bottom;

    .wrapper {
        min-height: 580px;
    }

	h1 {
		color: $yellow-color;
		text-align: center;
        margin-top: 100px;
	}

	form {
        width: 490px;
        margin: auto;
    }

    input, textarea {
        width: 470px;
        border-radius: 8px;
        background-color: #6fbcbe;
        border: none;
        color: $yellow-color;
        font-size: $p-fsize;
        margin-top: 40px;
        font-family: 'Josefin Sans','Sans serif';
        padding: 15px 10px;
    }

    input:focus,
    textarea:focus {
       outline: none;
       box-shadow: 0 0 6px 1px $yellow-color;
    }

    /* do not group these rules */
    *::-webkit-input-placeholder {
        color: $yellow-color;
    }
    *:-moz-placeholder {
        /* FF 4-18 */
        color: $yellow-color;
    }
    *::-moz-placeholder {
        /* FF 19+ */
        color: $yellow-color;
    }
    *:-ms-input-placeholder {
        /* IE 10+ */
        color: $yellow-color;
    }


    button {
        width: 131px;
        height: 50px;
        border-radius: 95px;
        background-color: $yellow-color;
        border: none;
        color: $dark-blue-color;
        font-size: 2.2em;
        font-weight: bold;
        margin: 50px auto 0;
        display: block;
        font-family: 'Josefin Sans','Sans serif';

       &:hover{
        background-color: $dark-blue-color;
        color: $yellow-color;
        cursor: pointer;
       }
    }

    .final {
        position: relative;
        min-height: 400px;

        img {
            position: absolute;
        }

        .bg {
            width: 100%;
            z-index: 0;
            bottom: 0;
        }

        .social {
            position: absolute;
            z-index: 1;
            left: 14.8%;
            bottom: 256px;
            width: 317px;
            height: 106px;
            background: url(../img/portfolio-mariona-mercadal-globo-rrss.png) no-repeat left center;

            img,
            a {
                float: left;
                display: block;
                margin: 6px 9px 0;
                width: 57px;
                position: initial;
            }
        }

        .xopi {
            left: 14.8%;
            z-index: 1;
            bottom: 105px;
        }

        .sentada {
            z-index: 1;
            bottom: 55px;
            right: 12%;
            width: 90%;
            max-width: 175px;
        }
    }
}
