@import 'partials/colors';
@import 'partials/fonts';
@import 'partials/layout';

/**** Tablet & Ipad ****/

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 

  {


  	/****INTRODUCCIÓN****/

	.intro {
		height: 100vh;

	 		.text-intro {
       		height: 100vh;
      		 margin-top: 20vh;

      		.linea {
   				left: 17%;
   			}

   			}

   			
   			h1{

			width: 500px;
			margin: 30px auto 0;
			padding-bottom: 50px;
			line-height: 1.4em;
			font-size: 7.4em;
			text-align: center;
			color: $yellow-color;
			z-index: 1;

			}

			h2 {

				width: 600px;
				margin: 50px auto 0;
				line-height: 1.6em;
				font-size: 6em;
				font-family: "FontTitles";
				text-align: center;
				color: $yellow-color;
				z-index: 1;
			}

			h3 {
				width: 100px;
				font-size: 2em;
				color: $yellow-color;
				z-index: 1;
				text-align: center;
				margin: 50px auto 0;
				font-weight: 300;
			}

  	}

  	.avatar {
		width: 28%;
		position: absolute;
		z-index: 2;
		top: 22%;
		right: 2%;
	}

	.clouds img {

		width: 25%;
	}
	
		.cloud1 {
			top: 6%;
			left: 48%;
				}

		.cloud2 {
			top: 23%;
			left: -10%;
				}

		.cloud3 {

			top: 57%;
			left: 2%;
		}


		.cloud4 {
			top: 53%;
			right: -10%;
			
		}

		.cloud5 {

			visibility: hidden;
		}

		.cloud6 {

			bottom: 10%;
			left: 10%;
		}


		.cloud7 {

			bottom: 5%;
			right: 5%;
		}


	/****SOBRE MI****/


		.molino {
			width: 34%;
			position: absolute;
			z-index: 2;
			bottom: -3%;
			left: 0%;
		}

		.cow {

			position: absolute;
			z-index: 2;
			bottom: -4%;
			right: -21%;

		}


}



/**** Mobile ****/

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 640px)

  {



  }